<p-card header="Information !" class="m-3">
    <p class="m-0">
        Vous avez la possibilité de cliquer sur la photo pour l'afficher en taille réelle et d'effectuer un zoom si
        nécessaire. Veuillez n'accepter le document qu'après sa vérification, car il sera ensuite supprimé afin de
        préserver l'intégrité des données. <br> Afin de rejeter un document, veuillez indiquer une raison comportant un
        minimum de {{length_reason_refusal}} à 255 caractères avant de procéder au refus.
    </p>
</p-card>

<p-dataView #dv [value]="documents">
    <ng-template let-document pTemplate="listItem">
        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                <app-display-pdf *ngIf="document.url.includes('pdf')" [document]="document"></app-display-pdf>
                <p-image *ngIf="!document.url.includes('pdf')" src="{{document.url}}"
                    alt="image {{convertType(document.type)}}" width="250" [preview]="true"></p-image>
                <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                        <div class="text-2xl font-bold text-900">{{ convertType(document.type) }}
                        </div>
                        <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag"></i>
                                <span class="font-semibold">{{ document.user_full_name }}</span>
                            </span>
                            <p-tag [value]="convertirStatus(document.status)"
                                [severity]="getSeverity(document.status)"></p-tag>
                        </div>
                    </div>

                    <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                        <div class="card flex justify-content-center gap-2">
                            <p-toast></p-toast>
                            <p-confirmPopup></p-confirmPopup>
                            <p-button *ngIf="document.status !== '1'"
                                (click)="performAction($event, 'Êtes-vous sûr de vouloir accepter le document ?', 'accepté', document, '1')"
                                icon="pi pi-check" label="Accepter" class="p-button-danger" [rounded]="true"
                                severity="success"></p-button>
                        </div>

                        <div class="card flex justify-content-center gap-2" *ngIf="document.status !== '-1'">
                            <div class="card flex justify-content-center">
                                <textarea rows="3" cols="30" pInputTextarea [autoResize]="true"
                                    [(ngModel)]="textareaValues[document.type]" placeholder="Motif de refus"
                                    maxlength="255"></textarea>
                            </div>
                            <p-toast></p-toast>
                            <p-confirmPopup></p-confirmPopup>
                            <p-button
                                (click)="performAction($event, 'Êtes-vous sûr de vouloir refuser le document ?', 'refusé', document, '-1')"
                                icon="pi pi-check" label="Refuser" severity="danger" [rounded]="true"
                                [disabled]="isButtonDisabled(document.type)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>