<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nouveau Label" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="labels" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'description']"
        [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedLabels" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Affichage de {first} à {last} des entrées de {totalRecords}"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width: 15rem">
                    Nom <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description">
                    Description <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-label>
            <tr>
                <td>{{ label.name }}</td>
                <td>{{ label.description }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                        (click)="editLabel(label)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteLabel(label)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Au total, il y a {{ labels ? labels.length : 0 }} labels.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="labelDialog" [style]="{ width: '450px' }" header="Détails du label" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nom</label>
            <input type="text" pInputText id="name" [(ngModel)]="label.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !label.name">Le nom est obligatoire.</small>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="label.description" required rows="3"
                cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text"
            (click)="saveLabel(label)"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>