<section>
  <div class="form-box">
    <div class="form-value">
      <form class="form" [formGroup]="createTripForm" (ngSubmit)="onSubmit()">
        <h2>Mon Formulaire</h2>

        <div class="inputbox">
          <input type="text" required formControlName="adresseDepart">
          <label for="">Adresse de Départ</label>
        </div>

        <div class="inputbox">
          <input type="text" required formControlName="adresseArrivee">
          <label for="">Adresse d'Arrivée</label>
        </div>

        <div class="inputbox">
          <input type="date" required formControlName="date">
          <label for="">Date</label>
        </div>

        <div class="inputbox">
          <input type="time" required formControlName="horaire">
          <label for="">Horaire</label>
        </div>

        <div class="inputbox">
          <input type="number" required formControlName="nombrePassagers">
          <label for="">Nombre de Passagers</label>
        </div>

        <!-- Affiche un message d'erreur si le nombre de passagers dépasse 4 -->
        <div *ngIf="createTripForm?.get('nombrePassagers')?.hasError('max')" class="error-message">
          Le nombre de passagers ne peut pas dépasser 4.
        </div>
        

        <button type="submit">Soumettre</button>

      </form>
    </div>
  </div>
</section>
