
body {
    margin: 0 !important;
}


/* Styles de base pour la barre de navigation */

nav {
    background-color: #333;
    color: #fff;
    display: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-container {
    display: flex;
    align-items: center;
    display: inline-block;
    display: inline-flex
}


/* Styles pour les liens dans la barre de navigation */

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


/* Styles pour le conteneur de profil */

#profile-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-left: 70%;
}

#profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#logo {
    width: 5%;
}


/* Styles pour la liste déroulante de connexion */

#link-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    display: none;
    flex-direction: column;
    padding: 10px;
}

#link-list a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}


/* Styles pour afficher la liste déroulante au survol du profil */

#profile-container:hover #link-list {
    display: flex;
    flex-direction: column;
}





/* Ajoutez ce code CSS à votre fichier de style ou dans une balise <style> dans l'en-tête de votre document HTML */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer a:hover {
    color: #00f;
}
