<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav class="nav">
        <div class="nav-logo">
            <p>LOGO .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#" class="link">Recherche</a></li>
                <li><a href="#" class="link">Proposer un trajet</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="window.location.href='/registration'">Inscription</button>
            <button class="btn" id="registerBtn" onclick="window.location.href='/logIn'">Connexion</button>
        </div>
    </nav>


    <router-outlet></router-outlet>



</body>

</html>



<script src="script.js"></script>