<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="wrapper">
            <div class="one">
                <h3 class="f-title f_600 t_color f_size_18">Liens Utiles</h3>
                <ul class="list-unstyled f_list">
                    <li><p-button [routerLink]="['']" label="Accueil" [link]="true"></p-button></li>
                    <li><p-button [routerLink]="['/registration']" label="Inscription" [link]="true"></p-button></li>
                    <li><p-button [routerLink]="['/login']" label="Connexion" [link]="true"></p-button></li>
                </ul>
            </div>
            <div class="two">
                <h3 class="f-title f_600 t_color f_size_18">Aide et Ressources</h3>
                <ul class="list-unstyled f_list">
                    <li><p-button [routerLink]="['/about/conditions']" label="Conditions d'utilisation"
                            [link]="true"></p-button></li>
                    <li> <a href="https://github.com/DUT-Info-Montreuil/UniRide-SApp/blob/main/README.md"
                            target="_blank">
                            <p-button label="Documentation" [link]="true"></p-button>
                        </a></li>
                    <li><p-button [routerLink]="['/about/privacy']" label="Politique de confidentialité"
                            [link]="true"></p-button></li>
                </ul>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p class="mb-0 f_400">Copyleft UniRide {{getAnneeActuelle()}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>