<div class="result-item">
    <div class="header-container">
        <span class="date"><strong>Date:</strong> {{ trip.proposedDate | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        <!-- <span class="price"><strong>Prix:</strong> {{ trip.price }} €</span> -->
    </div>
    <div class="content-container">
        <div class="address">
            <p><strong>Départ:</strong> {{ trip.departure.name }}</p>
            <p><strong>Arrivée:</strong> {{ trip.arrival.name }}</p>
        </div>
    </div>
</div>