<div class='stage'>
    <div class='ground-line'>
        <div>
            <span class='line1'></span>
            <span class='line2'></span>
            <span class='line3'></span>
            <span class='line1'></span>
            <span class='line2'></span>
            <span class='line3'></span>
        </div>
    </div>
    <div class='tree-wrap'>
        <div class='tree'>
            <div class='stem'>
                <div class='branch branch1'></div>
                <div class='branch branch2'></div>
                <div class='branch branch3'></div>
            </div>
            <div class='leef leef1'></div>
            <div class='leef leef2'></div>
        </div>
    </div>
    <div class='love-front'>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
    </div>
    <div class='love-back'>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
        <div class='love-wrap'>
            <div class='love'>
                <span class='circle circle1'></span>
                <span class='circle circle2'></span>
                <span class='square'></span>
            </div>
        </div>
    </div>
    <div class='vehicle-body'>
        <div class='wrap-body'>
            <div class='rooftop back'></div>
            <div class='rooftop front'></div>
            <div class='body-cover'>
                <div class='top-roof'></div>
                <div class='indi back-top-indicator'></div>
                <div class='indi back-bottom-indicator'></div>
                <div class='back-window'>
                    <div class='window-base top'></div>
                    <div class='window-base bottom'></div>
                    <div class='sun-shade'></div>
                    <div class='curtain'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class='windows-glass-wrap'>
                        <div class='glass'>
                            <div class='light'>
                                <span class='light1'></span>
                                <span class='light2'></span>
                                <span class='light3'></span>
                            </div>
                        </div>
                        <div class='glass'>
                            <div class='light'>
                                <span class='light1'></span>
                                <span class='light2'></span>
                                <span class='light3'></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='front-window'>
                    <div class='window-base'></div>
                    <div class='sun-shade'></div>
                    <div class='curtain'>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class='windows-glass-wrap'>
                        <div class='light'>
                            <span class='light1'></span>
                            <span class='light2'></span>
                            <span class='light3'></span>
                        </div>
                    </div>
                    <div class='air-hole'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class='main-door'>
                <div class='glass'>
                    <div class='light'>
                        <span class='light1'></span>
                        <span class='light2'></span>
                    </div>
                </div>
                <div class='door-handle'></div>
            </div>
            <div class='side-guard'>
                <div class='shade'></div>
                <div class='bumper back'></div>
                <div class='bumper front'></div>
                <div class='front-indicator'></div>
            </div>
        </div>
        <div class='wheel-wrap back'>
            <div class='wheel-shadow'></div>
            <div class='wheel'>
                <div class='wheel-outer'>
                    <div class='wheel-cup'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class='wheel-wrap front'>
            <div class='wheel-shadow'></div>
            <div class='wheel'>
                <div class='wheel-outer'>
                    <div class='wheel-cup'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>