<div id="connexionDiv">
  <form class="form" [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
    <p id="heading">Connexion</p>
    <div class="field">
      <input autocomplete="off" placeholder="Nom Utilisateur" class="input-field" type="text" formControlName="login">
    </div>
    <div class="field">
      <input autocomplete="off" placeholder="Mot De Passe" class="input-field" type="password"
        formControlName="password">
    </div>
    <div class="btn">
      <button class="button2" type="submit">Connexion</button>
    </div>
  </form>
</div>