<div class="flex justify-content-center flex-wrap carte  mb-3">
    <div class="card flex justify-content-center">
        <p-card header="Analyse des Utilisateurs">
            <p-chart type="doughnut" [data]="dataUser" [options]="options" height="20vh"></p-chart>
        </p-card>
    </div>
    <div class=" card flex justify-content-center">
        <p-card header="Analyse des Trajets ">
            <p-chart type="doughnut" [data]="dataTrip" [options]="options" height="20vh"></p-chart>
        </p-card>
    </div>
</div>
<div class="card">
    <p-table #displayUsers [value]="lisUsers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Affichage de {first} à {last} sur un total de {totalRecords} utilisateurs"
        [globalFilterFields]="['id_user', 'country.name', 'representative.name', 'status']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(displayUsers)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        ID
                        <p-columnFilter type="numeric" field="id_user" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Utilisateur
                        <p-columnFilter field="etudiant" matchMode="in" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                                <div class="px-3 pt-3 pb-0">
                                    <span class="font-bold">Sélectionneur d'utilisateurs</span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect #userMultiSelect [ngModel]="value" [options]="lisUsers"
                                    placeholder="Tous" (onChange)="filter($event.value)" optionLabel="firstname">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <img alt="photo de profil" src="{{ option.profile_picture }}" width="24"
                                                class="vertical-align-middle" />
                                            <span class="ml-1 mt-1">{{ option.firstname + " " + option.lastname}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Date de dernière modification
                        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                <th pSortableColumn="role"> Rôle <p-sortIcon field="role"></p-sortIcon>
</div>
</th>
<th style="min-width:10rem">
    <div class="flex align-items-center">
        Action
    </div>
</th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-lisUsers>
    <tr>
        <td>
            {{ lisUsers.id}}
        </td>
        <td>
            <img [alt]="lisUsers.lastname" src="{{ lisUsers.profile_picture }}" width="32"
                style="vertical-align: middle" />
            <span class="ml-1 vertical-align-middle">{{ lisUsers.lastname + " " + lisUsers.firstname }}</span>
        </td>
        <td>
            {{ lisUsers.last_modified_date | date: 'dd/MM/yyyy' }}
        </td>
        <td>
            <p-tag [value]="convertRoleUser(lisUsers.role)" [severity]="getSeverityUser(lisUsers.role)"></p-tag>
        </td>

        <td>
            <a (click)="manageRequestVerificationDocument(lisUsers.id)">
                <p-button label="Gérer" [rounded]="true" severity="warning"></p-button>
            </a>
        </td>
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="7">Aucun utilisateur n'a été trouvé.</td>
    </tr>
</ng-template>
</p-table>
</div>