/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* Masquer la barre de défilement horizontale */
    background: url("assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}