.logo-container {
    flex-shrink: 0;
}

#logo {
    width: 100px; /* Ou toute autre taille appropriée */
}

.p-menubar .p-component {
    width: 100%;
}

.full-width-menubar {
    display: flex;
    justify-content: space-between;
    width: auto; /* ou une largeur maximale si nécessaire */
    padding-left: 1rem; /* Ajustez selon les besoins */
    padding-right: 1rem; /* Ajustez selon les besoins */
}


.p-button {
    background: #F8F9FA;
    background-color: #F8F9FA;
    border-color: black;
    color: black;
}

.p-button:hover {
    background: #28212F;
    background-color: #28212F;
    border-color: black;
    color: #F8F9FA;
}
