h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.noTrips {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}