<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()" class="flex justify-content-center flex-wrap">
    <p-card id="card" class="flex justify-content-center flex-wrap">
        <div class="w-full flex justify-content-center">
            <h1>Inscription</h1>
        </div>

        <!-- Login -->
        <div id="div_login" class="mb-4 flex flex-column justify-content-center">
            <label for="login" class="block text-sm font-semibold mb-2">Nom d'Utilisateur*</label>
            <input type="text" pInputText formControlName="login" (blur)="checkLogin()" [maxlength]="50" />
            <p-message *ngIf="messages['login'].severity" [severity]="messages['login'].severity"
                [text]="messages['login'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Lastname -->
        <div id="div_lastname" class="mb-4 flex flex-column justify-content-center">
            <label for="lastName" class="block text-sm font-semibold mb-2">Nom*</label>
            <input pInputText id="lastName" type="text" formControlName="lastname" inputId="lastName" required
                [maxlength]="50" (blur)="checkLastname()">
            <p-message *ngIf="messages['lastname'].severity" [severity]="messages['lastname'].severity"
                [text]="messages['lastname'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Firstname -->
        <div id="div_firstname" class="mb-4 flex flex-column justify-content-center">
            <label for="firstName" class="block text-sm font-semibold mb-2">Prénom*</label>
            <input pInputText id="firstName" type="text" formControlName="firstname" inputId="firstName" required
                [maxlength]="50">
            <p-message *ngIf="messages['firstname'].severity" [severity]="messages['firstname'].severity"
                [text]="messages['firstname'].summary" [style]="{'width':'100%'}" (blur)="checkFirstname()"></p-message>
        </div>

        <!-- Student Email -->
        <div id="div_student_email" class="mb-4 flex flex-column justify-content-center">
            <label for="email" class="block text-sm font-semibold mb-2">Adresse e-mail étudiante*</label>
            <input pInputText id="email" type="email" formControlName="student_email" inputId="email" required
                (blur)="checkEmail()">
            <p-message *ngIf="messages['student_email'].severity" [severity]="messages['student_email'].severity"
                [text]="messages['student_email'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Password -->
        <div id="div_password" class="mb-4 flex flex-column justify-content-center">
            <label for="password" class="block text-sm font-semibold mb-2">Mot de Passe*</label>
            <p-password id="password" formControlName="password" inputId="password" required [toggleMask]="true"
                [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [maxlength]="50"
                (onBlur)="checkPassword()"></p-password>
            <p-message *ngIf="messages['password'].severity" [severity]="messages['password'].severity"
                [text]="messages['password'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Password Confirmation -->
        <div id="div_password_confirmation" class="mb-4 flex flex-column justify-content-center">
            <label for="confirmPassword" class="block text-sm font-semibold mb-2">Confirmer le Mot de Passe*</label>
            <p-password id="confirmPassword" formControlName="password_confirmation" inputId="confirmPassword" required
                [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                [maxlength]="50"></p-password>
            <p-message *ngIf=" !passwordsMatch()" severity="error" text="Les mots de passe ne correspondent pas."
                [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Gender -->
        <!-- <div id="div_gender" class="mb-4 flex flex-column justify-content-center">
            <label for="gender" class="block text-sm font-semibold mb-2">Genre*</label>
            <p-dropdown [options]="genderOptions" optionLabel="label" formControlName="gender" [required]="true"
                [style]="{'width':'100%'}"></p-dropdown>
            <p-message
                *ngIf="inscriptionForm.get('gender')?.errors?.['required'] && (inscriptionForm.get('gender')?.dirty || inscriptionForm.get('gender')?.touched)"
                severity="error" text="Le genre est requis." [style]="{'width':'100%'}"></p-message>

        </div> -->

        <!-- Phone Number -->
        <div id="div_phone_number" class="mb-4 flex flex-column justify-content-center">
            <label for="phoneNumber" class="block text-sm font-semibold mb-2">Numéro de téléphone*</label>
            <div class="flex align-items-center justify-content-center ">
                <label class="mr-1">+33</label>
                <input pInputText id="phoneNumber" type="text" formControlName="phone_number" inputId="firstName"
                    required pKeyFilter="int" [maxlength]="9" [style]="{'width':'100%'}" (blur)="checkPhoneNumber()">
            </div>
            <p-message *ngIf="messages['phone_number'].severity" [severity]="messages['phone_number'].severity"
                [text]="messages['phone_number'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Description -->
        <div id="div_description" class="mb-4 flex flex-column justify-content-center">
            <label for="description" class="block text-sm font-semibold mb-2">Description</label>
            <textarea pInputTextarea id="description" formControlName="description" rows="5" [autoResize]="true"
                [maxlength]="500"></textarea>
        </div>

        <!-- Profil Picture -->
        <div id="div_pfp" class="mb-4 flex flex-column justify-content-center">
            <label for="pfp" class="block text-sm font-semibold mb-2">Photo de profil</label>
            <div class="file-input-container">
                <label for="pfp">Parcourir...</label>
                <div class="text-container">
                    <span id="pfp_file_label">Aucun fichier sélectionné</span>
                </div>
                <input type="file" id="pfp" name="pfp" (change)="handleFileInput($event, 'pfp')"
                    accept=".jpg,.jpeg,.png">
            </div>
            <p class="mt-1 text-xs italique text-gray-400">PNG, JPG, JPEG (MAX. 5 MO).</p>
            <p-message *ngIf="messages['pfp'].severity" [severity]="messages['pfp'].severity"
                [text]="messages['pfp'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- ID Card -->
        <div id="div_id_card" class="mb-4 flex flex-column justify-content-center">
            <label for="id_card" class="block text-sm font-semibold mb-2">Carte d'identité</label>
            <div class="file-input-container">
                <label for="id_card">Parcourir...</label>
                <div class="text-container">
                    <span id="id_card_file_label">Aucun fichier sélectionné</span>
                </div>
                <input type="file" id="id_card" name="id_card" (change)="handleFileInput($event, 'id_card')"
                    accept=".jpg,.jpeg,.png,.pdf">
            </div>
            <p class="mt-1 text-xs italique text-gray-400">PNG, JPG, JPEG, PDF (MAX. 5 MO).</p>
            <p-message *ngIf="messages['id_card'].severity" [severity]="messages['id_card'].severity"
                [text]="messages['id_card'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- School Certificate -->
        <div id="div_school_certificate" class="mb-4 flex flex-column justify-content-center">
            <label for="school_certificate" class="block text-sm font-semibold mb-2">Certificat de scolarité</label>
            <div class="file-input-container">
                <label for="school_certificate">Parcourir...</label>
                <div class="text-container">
                    <span id="school_certificate_file_label">Aucun fichier sélectionné</span>
                </div>
                <input type="file" id="school_certificate" name="school_certificate"
                    (change)="handleFileInput($event, 'school_certificate')" accept=".jpg,.jpeg,.png,.pdf">
            </div>
            <p class="mt-1 text-xs italique text-gray-400">PNG, JPG, JPEG, PDF (MAX. 5 MO).</p>
            <p-message *ngIf="messages['school_certificate'].severity"
                [severity]="messages['school_certificate'].severity" [text]="messages['school_certificate'].summary"
                [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Checkbox to add license -->
        <div class="mb-4 flex flex-column justify-content-center">
            <p-checkbox label="Avez-vous un permis ?" formControlName="showDriverSection" [binary]="true"></p-checkbox>
        </div>

        <!-- License -->
        <div id="div_license" class="mb-4 flex flex-column justify-content-center"
            *ngIf="inscriptionForm.get('showDriverSection')?.value">
            <label for="license" class="block text-sm font-semibold mb-2">Permis</label>
            <div class="file-input-container">
                <label for="license">Parcourir...</label>
                <div class="text-container">
                    <span id="license_file_label">Aucun fichier sélectionné</span>
                </div>
                <input type="file" id="license" name="license" (change)="handleFileInput($event, 'license')"
                    accept=".jpg,.jpeg,.png,.pdf">
            </div>
            <p class="mt-1 text-xs italique text-gray-400">PNG, JPG, JPEG, PDF (MAX. 5 MO).</p>
            <p-message *ngIf="messages['license'].severity" [severity]="messages['license'].severity"
                [text]="messages['license'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Insurance -->
        <div id="div_insurance" class="mb-4 flex flex-column justify-content-center"
            *ngIf="inscriptionForm.get('showDriverSection')?.value">
            <label for="insurance" class="block text-sm font-semibold mb-2">Assurance</label>
            <div class="file-input-container">
                <label for="insurance">Parcourir...</label>
                <div class="text-container">
                    <span id="insurance_file_label">Aucun fichier sélectionné</span>
                </div>
                <input type="file" id="insurance" name="insurance" (change)="handleFileInput($event, 'insurance')"
                    accept=".jpg,.jpeg,.png,.pdf">
            </div>
            <p class="mt-1 text-xs italique text-gray-400">PNG, JPG, JPEG, PDF (MAX. 5 MO).</p>
            <p-message *ngIf="messages['insurance'].severity" [severity]="messages['insurance'].severity"
                [text]="messages['insurance'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <div class="mb-4">
            <p-checkbox inputId="conditions" formControlName="acceptConditions" [binary]="true"></p-checkbox>
            <label for="conditions" class="text-justify ml-2">En vous inscrivant vous acceptez les <a
                    href="about/conditions">Conditions générales
                    d'utilisation</a> de l'application.</label>
        </div>

        <!-- Register Button -->
        <div class="flex justify-content-center flex-wrap">
            <p-button type="submit" label="S'inscrire"
                [disabled]="!inscriptionForm.valid || !passwordsMatch()"></p-button>
        </div>
        <div>
        </div>
    </p-card>
</form>