.file-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file-input-container input[type="file"] {
    display: none;
}

.file-input-container label {
    background-color: #e7e7e7;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.file-input-container span {
    flex-grow: 1;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .file-input-container {
        flex-direction: column;
        width: 90%;
    }

    .file-input-container label,
    .file-input-container span {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
}

#card {
    justify-content: center;
}

@media (min-width: 768px) {
    #card {
        max-width: 60%;
    }
}

@media (min-width: 992px) {
    #card {
        max-width: 30%;
    }
}