<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex justify-content-center flex-wrap">
    <p-card id="card" class="flex justify-content-center flex-wrap" [style]="{'width':'100%'}">
        <div class="w-full flex justify-content-center">
            <h2>Changer le mot de passe</h2>
        </div>

        <p-message *ngIf="message.severity" [severity]="message.severity" [text]="message.summary"
            [style]="{'width':'100%'}"></p-message>


        <div id="div_student_email" class="mb-4 flex flex-column justify-content-center">
            <label for="email" class="block text-sm font-semibold mb-2">Adresse e-mail étudiante*</label>
            <input pInputText id="email" type="email" formControlName="student_email" inputId="email" required
                (blur)="checkEmail()">
            <p-message *ngIf="messages['student_email'].severity" [severity]="messages['student_email'].severity"
                [text]="messages['student_email'].summary" [style]="{'width':'100%'}"></p-message>
        </div>


        <div class="flex justify-content-center flex-wrap">
            <p-button type="submit" label="Envoyer" [disabled]="!passwordForm.valid"></p-button>
        </div>
    </p-card>
</form>