<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="flex justify-content-center flex-wrap">
    <p-card id="card" class="flex justify-content-center flex-wrap" [style]="{'width':'100%'}">
        <div class="w-full flex justify-content-center">
            <h2>Changer le mot de passe</h2>
        </div>

        <p-message *ngIf="message.severity" [severity]="message.severity" [text]="message.summary"
            [style]="{'width':'100%'}"></p-message>

        <!-- Password -->
        <div id="div_new_password" class="mb-4 flex flex-column justify-content-center">
            <label for="new_password" class="block text-sm font-semibold mb-2">Nouveau Mot de Passe*</label>
            <p-password id="new_password" formControlName="new_password" inputId="new_password" required
                [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                [maxlength]="50" (onBlur)="checkPassword()"></p-password>
            <p-message *ngIf="messages['new_password'].severity" [severity]="messages['new_password'].severity"
                [text]="messages['new_password'].summary" [style]="{'width':'100%'}"></p-message>
        </div>

        <!-- Password Confirmation -->
        <div id="div_new_password_confirmation" class="mb-4 flex flex-column justify-content-center">
            <label for="confirmPassword" class="block text-sm font-semibold mb-2">Confirmer le Nouveau Mot de
                Passe*</label>
            <p-password id="confirmPassword" formControlName="new_password_confirmation" inputId="confirmPassword"
                required [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" [maxlength]="50"></p-password>
            <p-message *ngIf=" !passwordsMatch()" severity="error" text="Les mots de passe ne correspondent pas."
                [style]="{'width':'100%'}"></p-message>
        </div>

        <div class="flex justify-content-center flex-wrap">
            <p-button type="submit" label="Modifier" [disabled]="!passwordForm.valid"></p-button>
        </div>
    </p-card>
</form>