<!-- trip-search.component.html -->

<section class="trip-search">
  <div class="form-box">
    <div class="form-value">
      <form class="form" [formGroup]="searchTripForm" (ngSubmit)="search()">
        <h2 class="text-white">Rechercher un trajet</h2>

        <div class="inputbox">
          <input type="text" required formControlName="adresseDepart" id="adresseDepart" #searchInputDepart autocomplete="off">
          <label class="text-white" for="">Adresse de Départ</label>
        </div>

        <div class="inputbox ">
          <input type="text" required formControlName="adresseArrivee" id="adresseArrivee" #searchInputArrivee autocomplete="off">
          <label class="text-white" for="">Adresse d'Arrivée</label>
        </div>

        <div class="inputbox">
          <input type="date" required formControlName="date">
          <label class="text-white" for="">Date</label>
        </div>

        <div class="inputbox">
          <input type="time" required formControlName="horaire">
          <label class="text-white" for="">Horaire</label>
        </div>

        <div class="inputbox">
          <input type="number" required formControlName="nombrePassagers">
          <label class="text-white" for="">Nombre de Passagers</label>
        </div>

        <!-- Affiche un message d'erreur si le nombre de passagers dépasse 4 -->
        <div *ngIf="searchTripForm?.get('nombrePassagers')?.hasError('max')" class="error-message">
          Le nombre de passagers ne peut pas dépasser 4.
        </div>

        <button type="button" class="text-white" (click)="search()">Rechercher</button>
      </form>
    </div>
  </div>
</section>
