@tailwind base;
@tailwind components;
@tailwind utilities;
#inscriptionDiv {
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 20%;
    margin-left: 40%;
}

.blur-backgroud {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
