<!-- Section Description -->
<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Bienvenue sur UniRide</span>
            <div class="text-6xl text-primary font-bold mb-3">Facilitons ensemble vos trajets universitaires</div>
            <p class="mt-0 mb-4 text-700 line-height-3">UniRide, c'est la solution de covoiturage conçue spécialement
                pour les étudiants des différentes universités. Nous avons pour mission de rendre vos trajets vers
                l'université
                plus simples, économiques et conviviaux. Rejoignez la communauté UniRide et partagez vos trajets avec
                d'autres étudiants, réduisez vos coûts de transport, et contribuez à un campus plus dynamique et
                durable..</p>

        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../assets/uniride_homepage.jpg" alt="Image" class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); max-width: 100%;">
    </div>
</div>

<!-- Section Services -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">UniRide, </span>
        <span class="text-blue-600">Le Covoiturage Universitaire</span>
    </div>
    <div class="text-700 text-sm mb-6">Rendons vos trajets universitaires plus simples, économiques et conviviaux.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-car text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Adapté aux étudiants</div>
            <span class="text-700 text-sm line-height-3">UniRide est conçu spécialement pour les étudiants des
                différentes universités, facilitant ainsi le partage de trajets entre pairs.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Simplicité d'utilisation</div>
            <span class="text-700 text-sm line-height-3">Créez et trouvez des trajets en quelques clics, simplifiant
                ainsi votre expérience de covoiturage universitaire avec UniRide.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-users text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Communauté UniRide</div>
            <span class="text-700 text-sm line-height-3">Rejoignez une communauté dynamique d'étudiants partageant des
                trajets, réduisez vos coûts de transport et contribuez à un campus plus durable.</span>
        </div>
    </div>
</div>


<!-- Section Discord-->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;PROPULSÉ PAR DISCORD</div>
        <div class="text-900 font-bold text-5xl mb-3">Rejoignez notre communauté d'Unirider</div>
        <div class="text-700 text-2xl mb-5">UniRide est alimenté par une communauté de covoitureurs passionnés.
            Ensemble, nous simplifions les trajets universitaires et contribuons à un campus plus convivial.</div>

        <button (click)="redirectionDiscord()" pButton pRipple label="Rejoignez maintenant" icon="pi pi-discord"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>