<div *ngIf="trip">
    <p-card header="Details du Voyage">
        <ng-template pTemplate="header">
            <section class="section" id="map-section">
                <div #map id="map"></div>
            </section>
        </ng-template>
        <div>
            <p-panel [showHeader]="false">

                <div>
                    <div class="flex justify-content-between">
                        <p><b>Passagers:</b> {{ trip.numberOfPassenger }}/{{ trip.totalNumberOfPassenger }}</p>
                        <p-tag [severity]="chipValue(trip.status)"><i class="text-xl">{{ getStatusLabel(trip.status)
                                }}</i></p-tag>
                    </div>
                    <div>
                        <h4>Départ</h4>
                        <p>{{ trip.departure.name }}</p>
                        <p>{{ trip.proposedDate | date:'medium' }}</p>
                    </div>

                    <div>
                        <h4>Arrivée</h4>
                        <p>{{ trip.arrival.name }}</p>
                        <p>{{ trip.arrivalDate | date:'medium' }} <em class="text-xs">Heure d'arrivée calculée avec <img
                                    src="assets/Google_Maps_Logo_2020.svg.png" alt="GoogleMap Logo" width="40"></em></p>

                    </div>
                </div>
                <div>
                    <div class="flex justify-content-between">
                        <app-user-info-summary [userid]="trip.driverId"></app-user-info-summary>
                        <!-- <p class="text-2xl sm:text-3xl   align-self-end">{{ trip.price }} €</p> -->

                    </div>
                    <p-toast></p-toast>
                    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                    <div class="flex justify-content-between mt-3">
                        <p-button (click)="back()" icon="pi pi-times" label="Retour" class="p-button-danger"></p-button>
                        <p-button (click)="confirm1()"
                            [disabled]="(trip.numberOfPassenger ?? 0) >= (trip.totalNumberOfPassenger ?? 0)"
                            icon="pi pi-check" label="Réserver"></p-button>
                    </div>
                </div>
            </p-panel>


        </div>
    </p-card>
</div>

<style>
    #pn_id_10-titlebar {
        background: blue !important;
        color: white;
    }
</style>