<div *ngIf="trip">
    <p-card header="Details du Voyage">
        <ng-template pTemplate="header">
            <section class="section" id="map-section">
                <div #map id="map"></div>
            </section>
        </ng-template>
        <div>
            <p-panel [showHeader]="false">
                <p-messages [closable]="false"></p-messages>
                <div class="flex justify-content-between">
                    <p-button (click)="back()" label="<" [raised]="true" [text]="true" severity="secondary"></p-button>
                    <p-tag [severity]="severity"><i class="text-xl">{{ label
                            }}</i></p-tag>
                </div>
                <div class=" test flex flex-wrap">
                    <p-card class="m-1 flex-grow-1">
                        <div>
                            <p><b>Passagers:</b> {{ trip.numberOfPassenger }}/{{ trip.totalNumberOfPassenger }}</p>
                            <div>
                                <h4>Départ</h4>
                                <p>{{ trip.departure.name }}</p>
                                <p>{{ trip.proposedDate | date:'medium' }}</p>
                            </div>

                            <div>
                                <h4>Arrivée</h4>
                                <p>{{ trip.arrival.name }}</p>
                                <p>{{ trip.arrivalDate | date:'medium' }} <em class="text-xs">Heure d'arrivée calculée
                                        avec
                                        <img src="assets/Google_Maps_Logo_2020.svg.png" alt="GoogleMap Logo"
                                            width="40"></em></p>
                            </div>
                        </div>
                    </p-card>
                    <p-card *ngIf="book.accepted == 1 && !book.joined && trip.status == 4" class="m-1 flex-grow-1"
                        header="À montrer au conducteur">
                        <div class="flex align-items-center justify-content-center" *ngIf="qrCodeValue">
                            <qrcode [qrdata]="qrCodeValue" [errorCorrectionLevel]="'M'">
                            </qrcode>
                        </div>
                    </p-card>
                </div>
                <div>
                    <div class="flex flex-wrap">
                        <app-user-info-summary [userid]="trip.driverId" class="m-1 flex-grow-1"></app-user-info-summary>
                        <app-passengers-list *ngIf="userId == trip.driverId || book.accepted == 1"
                            class="flex-grow-1 m-1" [tripId]="trip.id" [tripStatus]="trip.status"
                            [totalNumberOfPassenger]="trip.totalNumberOfPassenger ?? 0"
                            [numberOfPassenger]="trip.numberOfPassenger ?? 0"></app-passengers-list>
                        <!-- <p class="text-2xl sm:text-3xl   align-self-end">{{ trip.price }} €</p> -->
                    </div>
                    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                    <div class="flex justify-content-end mt-3">
                        <p-button *ngIf="!alreadyBooked && userId != trip.driverId && trip.status == 1"
                            (click)="bookTrip()"
                            [disabled]="(trip.numberOfPassenger ?? 0) >= (trip.totalNumberOfPassenger ?? 0)"
                            icon="pi pi-check" label="Réserver"></p-button>
                        <div *ngIf="userId == trip.driverId && trip.status == 1">
                            <p-button severity="danger" (click)="cancelTrip()" class="mr-1" icon="pi pi-times"
                                label="Annuler"></p-button>
                            <p-button severity="success" (click)="startTrip()" [disabled]="!canStartTrip"
                                icon="pi pi-check" label="Commencer"></p-button>
                        </div>
                        <p-button severity="danger" *ngIf="userId == trip.driverId && trip.status == 4"
                            (click)="endTrip()" icon="pi pi-times" label="Terminer"></p-button>
                        <p-button severity="danger" *ngIf="alreadyBooked && book.accepted != -2 && !book.joined"
                            (click)="cancelBooking()" icon="pi pi-times" label="Annuler"></p-button>
                    </div>
                </div>
            </p-panel>
        </div>
    </p-card>
</div>

<style>
    #pn_id_10-titlebar {
        background: blue !important;
        color: white;
    }
</style>