<div *ngIf="trip">
    <p-card header="Details du Voyage">
        <ng-template pTemplate="header">
            <section class="section" id="map-section">
                <div #map id="map"></div>
            </section>
        </ng-template>
        <div>
            <p-panel [showHeader]="false">
                <div class="flex justify-content-between">
                    <p><b>Passagers:</b> {{ trip.numberOfPassenger }}/{{ trip.totalNumberOfPassenger }}</p>
                    <p-tag [severity]="chipValue(trip.status)"><i class="text-xl">{{ getStatusLabel(trip.status)
                            }}</i></p-tag>
                </div>
                <div class=" test flex flex-wrap">
                    <p-card class="m-1 flex-grow-1">
                        <div>
                            <div>
                                <h4>Départ</h4>
                                <p>{{ trip.departure.name }}</p>
                                <p>{{ trip.proposedDate | date:'medium' }}</p>
                            </div>

                            <div>
                                <h4>Arrivée</h4>
                                <p>{{ trip.arrival.name }}</p>
                                <p>{{ trip.arrivalDate | date:'medium' }} <em class="text-xs">Heure d'arrivée calculée
                                        avec
                                        <img src="assets/Google_Maps_Logo_2020.svg.png" alt="GoogleMap Logo"
                                            width="40"></em></p>
                            </div>
                        </div>
                    </p-card>
                    <p-card *ngIf="isPassenger && !joined && trip.status == 4" class="m-1 flex-grow-1"
                        header="À montrer au conducteur">
                        <div class="flex align-items-center justify-content-center" *ngIf="qrCodeValue">
                            <qrcode [qrdata]="qrCodeValue" [errorCorrectionLevel]="'M'">
                            </qrcode>
                        </div>
                    </p-card>
                </div>
                <div>
                    <div class="flex flex-wrap">
                        <app-user-info-summary [userid]="trip.driverId" class="m-1 flex-grow-1"></app-user-info-summary>
                        <app-passengers-list *ngIf="userId == trip.driverId || isPassenger" class="flex-grow-1 m-1"
                            [tripId]="trip.id" [tripStatus]="trip.status"
                            [totalNumberOfPassenger]="trip.totalNumberOfPassenger ?? 0"
                            [numberOfPassenger]="trip.numberOfPassenger ?? 0"></app-passengers-list>
                        <!-- <p class="text-2xl sm:text-3xl   align-self-end">{{ trip.price }} €</p> -->
                    </div>
                    <p-toast></p-toast>
                    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                    <div class="flex justify-content-between mt-3">
                        <p-button (click)="back()" icon="pi pi-times" label="Retour" class="p-button-danger"></p-button>
                        <p-button *ngIf="!isPassenger && userId != trip.driverId" (click)="confirm1()"
                            [disabled]="(trip.numberOfPassenger ?? 0) >= (trip.totalNumberOfPassenger ?? 0)"
                            icon="pi pi-check" label="Réserver"></p-button>
                    </div>
                </div>
            </p-panel>
        </div>
    </p-card>
</div>

<style>
    #pn_id_10-titlebar {
        background: blue !important;
        color: white;
    }
</style>